@font-face {
	font-family: ahellya;
	font-display: swap;
	src: url("../fonts/ahellya.woff2") format("woff2"), url("../fonts/ahellya.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: helvetica;
	font-display: swap;
	src: url("../fonts/helvetica_light.woff2") format("woff2"), url("../fonts/helvetica_light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: helvetica;
	font-display: swap;
	src: url("../fonts/helvetica_regular.woff2") format("woff2"), url("../fonts/helvetica_regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: helvetica;
	font-display: swap;
	src: url("../fonts/helvetica_lightoblique.woff2") format("woff2"), url("../fonts/helvetica_lightoblique.woff") format("woff");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
